html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0.5rem;
}

.nav {
    display: flex;
    background-color: #957B65;
    position: relative;
    right: 2rem;
    width: 120rem;
    height: 5rem;
    align-items:flex-start;
}

.nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
}

.nav > img {
    width: 4rem;
    height:3.5rem;
    position: relative;
    left: 3rem;
}

.nav > #atas {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 1rem;
    position: relative;
    bottom: 0.8rem;
    left: 3rem;
}

.nav > #bawah {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    line-height: 1rem;
    position: relative;
    top: 0.8rem;
    right:2.6rem;
}

.nav > a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 14rem;
    position: relative;
    left: 35rem;
}


.isi > #get{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #333333;
    margin-right: 2rem;
    margin-top: 6rem;
    position: relative;
    left: 8rem;    
}

#desk {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
    margin-right: 2rem;
    margin-top: 1rem;
    position: relative;
    left: 8.2rem;   
    bottom: 2.7rem; 
}

.isi {
    position: relative;
    top: 4rem;
    left: 3rem;
    margin-bottom: 3px;
}

#home {
    color: #333333;
}

#foto {
    width: 55rem;
    height: 38rem;
    position: relative;
    left: 45rem;
    bottom: 24rem;
}

.explore {
    position: relative;
    bottom: 37rem;
    right: 44rem;
}


.explore {
  color: #957B65;
  background-color: transparent;
  border: 2px solid #957B65;
  border-radius: 50px;
  padding: 0.4rem 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore > a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: #957B65;
  transition: color 0.3s ease;
}

.explore:hover {
  background-color: #957B65;
  color: white;
}

.explore:hover > a {
  color: white;
}

#about:hover {
  color: #333333;
   transition: color 0.3s ease;
}


