* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 
body {
  height: 100vh;
  background-color: #f8f8f8;
}
 
 
.header {
  background-color: #9c7a5f;
  color: white;
  padding: 0.625rem 0.9375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.logo h2 {
  font-size: 1rem;
  line-height: 1.2;
}
 
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.75rem;
  cursor: pointer;
}
 
.profile-info {
  background-color: #9c7a5f;
  color: white;
  padding: 1.25rem;
}
 
.avatar {
  width: 10rem;
  height: 10rem;
  background-color: #443a32;
  border-radius: 50%;
  margin: 0 auto 5rem;
}
 
.profile-info h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
 
 
.form-section {
  padding: 1.25rem;
  text-align: left;
}
 
.form-section label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: 500;
  color: #333;
}
 
.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}
 
.input-group input,
.input-group textarea {
  flex: 1;
  padding: 0.5rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.375rem;
  outline: none;
}
 
.input-group textarea {
  resize: none;
  height: 3.125rem;
}
 
.done-btn {
  margin-left: 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.375rem 0.625rem;
  cursor: pointer;
}
 
.button-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.25rem;
}
 
.fav-btn,
.history-btn {
  width: 40%;
  padding: 0.625rem;
  background-color: #9c7a5f;
  color: white;
  border: none;
  border-radius: 0.625rem;
  font-weight: 500;
  cursor: pointer;
  font-size: large;
}
 
/* Ubah CSS ini */
.signout-btn {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  margin-bottom: 1.25rem;
  cursor: pointer;
}
 
/* Menjadi seperti ini */
.signout-btn {
  display: block; /* Jadikan tombol sebagai elemen block */
  margin: 0 auto 1.25rem auto; /* Atur margin atas/bawah dan auto untuk kiri/kanan */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-size: large;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.75rem;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
  transform: scale(1.2); /* opsional, biar sedikit membesar */
}
