/* ---------------- Navbar Coklat ---------------- */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c7355;
  padding: 0.625rem 1.25rem; /* 10px 20px */
}

.navbar-bottom{
  display: flex;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 0.625rem; /* 10px */
}

.brand-logo {
  height: 3.125rem; /* 50px */
  width: auto;
}

/* The parent container for the buttons */
.menu-section {
  display: flex;
  align-items: center;
  gap: 0.9375rem; /* 15px */
}

/* Base styles for the Sign Up and Log In buttons */
.signup-btn, .login-btn {
  /* Common button styles */
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 9999px; /* This makes the corners fully rounded */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
  /* Initial state: no fill, just a transparent border and text */
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

/* Hover effect */
.signup-btn:hover {
  /* On hover, the background becomes a semi-transparent white */
  background-color: #333333;
  
  /* The border color also becomes a solid white */
  border: 1px solid #333333;

  /* The text color becomes a solid white */
  color: #fff;
}

.login-btn:hover {
   /* On hover, the background becomes a semi-transparent white */
  background-color: #ffffff;
  
  /* The border color also becomes a solid white */
  border: 1px solid #ffffff;

  /* The text color becomes a solid white */
  color: #adadad;
}

.btn-img {
  height: 2.5rem; /* 40px */
  width: auto;
}

.hamburger-btn {
  height: 2.5rem; /* 40px */
}

a {
  text-decoration: none;
  outline: none;
  border: none;
  color: inherit;
}

/* ---------------- Navbar Hitam ---------------- */
.navbar-bottom {
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  height: 1.875rem;
  gap: 30px; /* Adjust this value as needed for spacing between items */
}

.navbar-bottom h2 {
  margin: 0; /* Remove all margin to let the parent container control spacing */
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  text-align: flex-start;
}
